2. If you did not already create one, create a .gitignore file in the same directory/folder where the manage.py
file is located for your project - (the highest level of your project folders for your project). The ‘.gitignore’ file
specifies files that should not be pushed to the GitHub.com repository.
a. Before pushing files to the GitHub repo, you should create a text file called ‘.gitignore’ to ensure your
virtual environment, database, and PyCharm files are not pushed to the repo.
Do not add a file extension or change the name in any way – do not capitalize any letters. Sample
contents of the ‘.gitignore’ are shown below – note that the virtual environment in this project was
called ‘venv’. Change the name if your virtual environment has a different name:
# Files to ignore when pushing a PyCharm Django project to
github:
#files only needed by a PyCharm project and local-only django
files
.idea/
local_settings.py
#the virtual environment name - use the name of your virtual
environment
#if different from venv
venv
### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media
# Ignore Django Migrations in Development if you are working on
team
# Only for Development only
**/migrations/**
# !**/migrations
!**/migrations/__init__.py
b. Create a valid and updated ‘requirements.txt’ file, if you did not already create one. This file should be
in the same folder with the .gitignore (the highest level of your project folders for your project) that
includes all the required installations for the project to be deployed..
i. Do not change the name of this file in any way – do not capitalize any letters. Enter the
following command in the Terminal window to capture all the requirements for your project.
pip freeze > requirements.txt
ii. After executing this command, you will have a new file in the project folder called
requirements.txt that will contain a list of the requirements used in the project. The sample
contents shown below if for a very small Django project.
requirements.txt (sample only)
asgiref==3.11.0
Django==6.0.1
sqlparse==0.5.5
tzdata==2025.3
IMPORTANT NOTE: Each application you develop will have different requirements. Any library
that is imported using ‘pip install’ must be included in the requirements.txt file.
